@model IEnumerable<SosWebApp.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroIncidente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TriageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coseguro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPlus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroIncidente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TriageCode.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coseguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPlus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guard.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
